sudo: required
services:
    - docker

before_install: 
    - docker build -t theozpal/multi-react-test -f ./client/Dockerfile.dev .

script:
    - docker run -e CI=true USERNAME/multi-react-test npm test

after_success:
    - docker build -t theozpal/multicontainer-client  ./client
    - docker build -t theozpal/multicontainer-nginx  ./nginx  
    - docker build -t theozpal/multicontainer-server  ./server
    - docker build -t theozpal/multicontainer-worker  ./worker
    # Login to docker CLI
    - echo "$docker_password" | docker login -u "$docker_id" --password-stdin
    # Push images to docker hub
    - docker push theozpal/multicontainer-client
    - docker push theozpal/multicontainer-nginx
    - docker push theozpal/multicontainer-server
    - docker push theozpal/multicontainer-worker
    

